html,body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Titillium Web", sans-serif;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

.home {
  background-color: #87509c;
}

.container {
  max-width: 1170px;
  padding: 0 15px 0 15px;
  margin: 0 auto;
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: none;
  }
}

.header {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo {
  flex: 1 1 auto;
}

.header__logo-item {
  width: 118px;
  height: 38;
}

.nav {
  max-width: 100%;
  margin: 0;
}

@media (max-width: 992px) {
  #toogle:checked ~ .nav {
    display: block;
  }
}

.toggle {
  position: absolute;
  left: -9999px;
}

.toggle-container {
  position: absolute;
  top: 50px;
  right: 40px;
  width: 40px;
  height: 8px;
  background-color: rgba(255, 165, 0, 0.9);
  border-radius: 10px;
  cursor: pointer;
}
.toggle-container::before, .toggle-container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 8px;
  background-color: rgba(255, 165, 0, 0.9);
  border-radius: 10px;
}
.toggle-container::before {
  top: 14px;
}
.toggle-container::after {
  top: -14px;
}

.nav__list {
  display: flex;
  margin: 0;
}
@media (max-width: 992px) {
  .nav__list {
    padding: 0;
    position: absolute;
    top: 90px;
    right: 0;
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column;
    background-color: rgba(255, 165, 0, 0.9);
    transition: 3s;
  }
}

.nav__list-item {
  list-style: none;
  color: white;
  margin-right: 30px;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 20px;
  padding: 0;
  transition: 3s;
}
@media (max-width: 992px) {
  .nav__list-item {
    display: flex;
    justify-content: center;
    margin: 0;
  }
}

.nav__list-link {
  line-height: 2;
  padding: 0 20% 0 20%;
  color: white;
  display: block;
  width: 100%;
  text-decoration: none;
  transition: 0.3s;
}
.nav__list-link:hover {
  background: #643a79;
  border-radius: 5px;
}
@media (max-width: 992px) {
  .nav__list-link {
    font-weight: bold;
    border: 1px solid rgba(128, 0, 128, 0.5);
    display: block;
    padding: 40px 152px;
    margin: 0 auto;
    width: 100%;
  }
}

.hi-there {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hi-there__title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.hi-there__title {
  margin-top: 145px;
  line-height: 50px;
  color: #f7f3ea;
  font-size: 44px;
}
@media (max-width: 992px) {
  .hi-there__title {
    font-size: 30px;
    line-height: 30px;
    margin-top: 90px;
  }
}

.hi-there__btn-container {
  width: 293px;
  height: 70px;
  background-color: #eb7d4b;
  box-sizing: border-box;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  margin-bottom: 145px;
}

.hi-there__btn-link {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  letter-spacing: 1px;
  width: 100%;
  display: block;
  color: white;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  line-height: 4;
}

.service {
  color: white;
  background-color: #17c2a4;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.service__title-underline {
  clear: both;
  width: 87px;
  height: 4px;
  opacity: 0.15;
  background-color: black;
  align-self: center;
}

.service__title-container {
  margin: 0 auto;
  margin-top: 100px;
  max-width: 604px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.service__title {
  margin-bottom: 20px;
  font-size: 40px;
  letter-spacing: 4px;
}

.service__sub-title {
  line-height: 2;
  font-size: 18px;
  letter-spacing: 1px;
}

.service__item-text-container {
  max-width: 100%;
}

.service__item-container {
  margin: 78px 0 124px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}
@media (max-width: 992px) {
  .service__item-container {
    flex-flow: column wrap;
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .service__item-container {
    flex-flow: column wrap;
    justify-content: center;
  }
}

.service__item {
  flex: 0 1 200px;
}

.service__item-title {
  font-size: 24px;
  font-weight: bold;
  line-height: 0.75;
  letter-spacing: 1px;
}

.service__item-sub-title {
  font-size: 16px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 1px;
}

.our-team {
  background-color: #e7f1f8;
  color: #3c4761;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.our-team__title-container {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin: 120px 0 78px 0;
}

.our-team__title {
  font-size: 42px;
  letter-spacing: 4px;
  line-height: 1;
}

.our-team__sub-title {
  font-size: 20px;
  line-height: 2;
  letter-spacing: 1px;
}

.out-team__title-underline {
  margin: 0 auto;
  width: 87px;
  height: 6px;
  opacity: 0.75;
  background-color: #bdd1df;
}

.our-team__item-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 130px;
}
@media (max-width: 992px) {
  .our-team__item-container {
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 767px) {
  .our-team__item-container {
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
  }
}

.our-team-item {
  display: flex;
  justify-content: center;
  flex-flow: column;
  flex: 0 1 200px;
}
@media (max-width: 992px) {
  .our-team-item {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .our-team-item {
    margin-bottom: 20px;
  }
}

.our-team__item-img-container {
  margin: 0 auto;
  max-width: 200px;
  align-self: center;
  flex-grow: 1;
}

.our-team__item-text-container {
  display: flex;
  justify-content: center;
  flex-flow: column;
  flex: 0 1 auto;
}

.our-team__worker-name,
.our-team__worker-speciality,
.our-team__worker-description {
  margin: 0;
}

.our-team__worker-speciality {
  font-size: 16px;
  color: #30bae7;
  letter-spacing: 1px;
}

.our-team__worker-name {
  font-size: 24px;
  letter-spacing: 1px;
}

.our-team__social-link-container {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.our-team__btn-link {
  margin-right: 12px;
  display: block;
  width: 32px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.our-team__btn-link:last-child {
  margin-right: 0;
}

.we-got-skills {
  background-color: white;
  color: #3c4761;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.we-got-skills__title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 569px;
}

.we-got-skills__title {
  margin: 118px 0 0 0;
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 4px;
}

.we-got-skills__title-underline {
  margin: 22px 0 0 0;
  width: 87px;
  height: 4px;
  background-color: #dfe8ed;
}

.we-got-skills__sub-title {
  margin: 24px 0 0 0;
  letter-spacing: 1px;
  line-height: 2;
  font-size: 18px;
}

.we-got-skills__item-container {
  display: flex;
  margin: 84px 0 122px 0;
  display: flex;
  align-items: center;
  flex: 1 1 1200px;
}
@media (max-width: 992px) {
  .we-got-skills__item-container {
    flex-flow: wrap column;
    justify-content: center;
    margin: 10px auto;
  }
}
@media (max-width: 767px) {
  .we-got-skills__item-container {
    margin-bottom: 20px;
  }
}

.we-got-skills__item {
  margin-right: 120px;
}
.we-got-skills__item:last-child {
  margin-right: 0;
}
@media (max-width: 992px) {
  .we-got-skills__item {
    margin: 20px 0 0 0;
  }
}

.we-got-skills__item-title-container {
  max-width: 100%;
}

.we-got-skills__item-title {
  line-height: 1;
  font-size: 24px;
}

.side-bar__container {
  margin: 0 10px 0 10px;
  height: 160px;
  width: 160px;
  display: flex;
  justify-content: center;
  position: relative;
}

.side-bar__item-colored {
  overflow: hidden;
  height: 160px;
  width: 160px;
  border-start-end-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #30bae7;
}

.side-bar__item-opacity {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0px;
  left: 0;
  opacity: 0.9;
  background-color: white;
}

.side-bar__item-middle {
  position: absolute;
  top: 12px;
  left: 12px;
  height: 136px;
  width: 136px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: white;
}

.side-bar__percent {
  font-weight: 300;
  margin-top: 20%;
  display: block;
  font-size: 50px;
  letter-spacing: 1px;
  font-family: "Titillium Web", sans-serif;
}

.our-portfolio {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ffdd99;
  color: #393939;
}

.our-portfolio__title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: 120px auto 0 auto;
  max-width: 515px;
}

.our-portfolio__title {
  margin: 0;
  font-size: 40px;
  font-weight: bold;
  font-style: normal;
  line-height: 1;
  letter-spacing: 4px;
}

.our-portfolio__text-underline {
  align-self: center;
  width: 87px;
  height: 4px;
  margin: 21px 0 23px 0;
  background-color: #e5c37f;
}

.our-portfolio__sub-title {
  margin: 0;
}

.our-portfolio__btn-container {
  display: flex;
  margin: 42px 0 65px 0px;
}
@media (max-width: 767px) {
  .our-portfolio__btn-container {
    justify-content: center;
    margin: 20px auto;
    flex-flow: wrap;
  }
}

.our-portfolio__btn {
  height: 38px;
  width: 84px;
  margin-right: 10px;
  width: 90px;
  height: 38px;
  padding: 12px 23px 12px 24px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.2);
  color: #393939;
  text-align: center;
  transition: 0.3s;
}
.our-portfolio__btn:last-child {
  margin-right: 0;
}
.our-portfolio__btn:hover {
  background-color: white;
  color: #393939;
}
@media (max-width: 767px) {
  .our-portfolio__btn {
    display: flex;
    justify-content: center;
    margin: 5px;
    flex-flow: wrap;
    height: 38px;
    width: 40px;
    padding: 0 20px;
  }
}

.our-portfolio__btn-link {
  padding: 12px;
  text-decoration: none;
  display: block;
  font-weight: bold;
  font-size: 18px;
  line-height: 1;
  color: #393939;
  letter-spacing: 1px;
}
@media (max-width: 767px) {
  .our-portfolio__btn-link {
    font-size: 16px;
  }
}

.our-portfolio__item-container {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}
@media (max-width: 767px) {
  .our-portfolio__item-container {
    margin-bottom: 10px;
    justify-content: center;
    flex-flow: wrap;
  }
}

.our-portfolio__item {
  max-width: 540px;
  max-height: 310px;
  margin-bottom: 110px;
}
@media (max-width: 992px) {
  .our-portfolio__item {
    margin-bottom: 70px;
  }
}
@media (max-width: 767px) {
  .our-portfolio__item {
    margin-bottom: 80px;
  }
}

.our-portfolio__item-btn-container {
  margin: 20px auto 120px;
  width: 290px;
  height: 70px;
  border-radius: 4px;
  background-color: #17c2a4;
}
.our-portfolio__item-btn-container a {
  padding: 6%;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 2;
  color: white;
}

.our-portfolio__item-text {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1;
  text-transform: uppercase;
}

.people-say {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #d74680;
  color: white;
}

.people-say__title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: 120px auto 0 auto;
}

.people-say__title {
  margin: 0;
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 4px;
}

.people-say__title-underline {
  margin: 21px 0 15px 0;
  width: 87px;
  height: 4px;
  opacity: 0.15;
  background-color: #000000;
}

.people-say__sub-title {
  margin: 0;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 1px;
}

.people-say__item-container {
  margin-top: 70px;
  justify-content: space-between;
  display: flex;
  flex-flow: wrap;
}
@media (max-width: 992px) {
  .people-say__item-container {
    margin: 30px auto 40px;
  }
}
@media (max-width: 767px) {
  .people-say__item-container {
    margin-top: 30px;
  }
}

.people-say__item {
  max-width: calc(100%/2);
  display: flex;
  margin-bottom: 130px;
}
@media (max-width: 767px) {
  .people-say__item {
    margin: 0 auto;
    max-width: calc(100%);
  }
}

.people-say__item-img-container {
  max-width: 96px;
  max-height: 96px;
}

.people-say__item-img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.people-say__item-text-container {
  max-width: 370px;
  text-align: left;
  margin-left: 48px;
}

.people-say__item-title {
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 1px;
  margin: 0;
}

.people-say__item-sub-title {
  margin: 0;
  color: #ffdd99;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 1px;
}

.get-in {
  display: flex;
  flex-flow: column wrap;
  background-color: #3c5499;
  color: white;
  text-align: center;
}

.get-in__title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: 120px auto 0 auto;
}

.get-in__title {
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 4px;
  margin: 0 0 20px 0;
}

.get-in__title-underline {
  width: 87px;
  height: 4px;
  background-color: #273a71;
}

.get-in__sub-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 1px;
}

.get-in__link-phone {
  text-decoration: none;
  color: white;
}

.get-in__form-container {
  margin: 76px auto 120px;
  max-width: 868px;
}

@media (max-width: 992px) {
  .get-in__form {
    margin: 10px auto;
    flex-flow: column;
    padding: 0;
    align-items: stretch;
  }
}
@media (max-width: 767px) {
  .get-in__form {
    max-width: 370px;
    margin: 10px auto;
    flex-flow: column;
    padding: 0;
  }
}

.get-in__input-name-container,
.get-in__input-email-container {
  box-sizing: border-box;
  display: inline-block;
  width: 414px;
  padding: 0;
  margin-bottom: 30px;
  border-radius: 4px;
}
@media (max-width: 992px) {
  .get-in__input-name-container,
.get-in__input-email-container {
    width: 100%;
  }
}

.get-in__input-name-container {
  position: relative;
  margin: 0 30px 0 0;
}
.get-in__input-name-container::after {
  content: "*";
  position: absolute;
  top: 20px;
  left: 114px;
  color: #f00;
}
@media (max-width: 500px) {
  .get-in__input-name-container::after {
    left: 170px;
  }
}
@media (max-width: 992px) {
  .get-in__input-name-container {
    margin: 0 auto;
    padding: 0;
  }
}

.get-in__input-name {
  font-family: "Titillium Web", sans-serif;
  display: block;
  width: 100%;
  font-size: 18px;
  line-height: 1;
  padding: 20px 0 20px 15px;
  background-color: #273a71;
  color: white;
}
.get-in__input-name::placeholder {
  content: "";
  color: white;
}
@media (max-width: 992px) {
  .get-in__input-name {
    padding: 20px;
  }
}
@media (max-width: 500px) {
  .get-in__input-name {
    margin: 0 auto;
    width: 60%;
    margin: 0 auto;
  }
}

.get-in__input-email-container {
  position: relative;
}
.get-in__input-email-container::after {
  content: "*";
  position: absolute;
  top: 20px;
  left: 114px;
  color: #f00;
}
@media (max-width: 500px) {
  .get-in__input-email-container::after {
    left: 170px;
  }
}
@media (max-width: 992px) {
  .get-in__input-email-container {
    margin: 20px auto;
  }
}

.get-in__input-email {
  font-family: "Titillium Web", sans-serif;
  display: block;
  width: 100%;
  font-size: 18px;
  line-height: 1;
  padding: 20px;
  margin: 0;
  background-color: #273a71;
  color: white;
  border-radius: 4px;
}
.get-in__input-email::placeholder {
  content: "";
  color: white;
}
@media (max-width: 500px) {
  .get-in__input-email {
    width: 60%;
    margin: 0 auto;
  }
}

.get-in__textarea-container {
  position: relative;
  display: block;
}
.get-in__textarea-container::after {
  content: "*";
  position: absolute;
  top: 18px;
  left: 140px;
  color: #f00;
}
@media (max-width: 500px) {
  .get-in__textarea-container::after {
    left: 210px;
  }
}
@media (max-width: 992px) {
  .get-in__textarea-container {
    margin: 0 auto 20px;
  }
}

.get-in__textarea {
  font-family: "Titillium Web", sans-serif;
  font-size: 18px;
  line-height: 1;
  display: block;
  width: 100%;
  padding: 20px 20px 200px 20px;
  border-radius: 4px;
  background-color: #273a71;
  color: white;
  margin: 0;
}
.get-in__textarea::placeholder {
  content: "";
  color: white;
}
@media (max-width: 992px) {
  .get-in__textarea {
    padding: 20px 20px 50px 20px;
  }
}
@media (max-width: 500px) {
  .get-in__textarea {
    width: 60%;
    margin: 0 auto;
  }
}

.get-in__form-btn {
  width: 293px;
  height: 70px;
  margin: 59px 283px 0 284px;
  padding: 16px;
  border-radius: 4px;
  background-color: #30bae7;
  color: white;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 1px;
}
@media (max-width: 992px) {
  .get-in__form-btn {
    margin: 10px auto;
  }
}

.footer {
  background-color: #344b8e;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footer__list {
  flex: 1 1 930px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  margin: 48px 0 42px 0;
}
@media (max-width: 992px) {
  .footer .footer__list {
    flex-flow: column wrap;
    margin: 0;
    padding: 0;
  }
}

.footer__list-item {
  margin-right: 140px;
  list-style: none;
  text-decoration: none;
}
.footer__list-item:last-child {
  margin-right: 40px;
}
@media (max-width: 1282px) {
  .footer__list-item {
    margin-right: 90px;
  }
}
@media (max-width: 992px) {
  .footer__list-item {
    margin: 20px auto;
  }
  .footer__list-item:last-child {
    margin: 20px auto;
  }
}

.footer__social-link {
  text-decoration: none;
  list-style: none;
  color: white;
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 1px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.footer__social-link:hover {
  color: #30bae7;
}

@media (max-width: 992px) {
  .nav {
    text-align: center;
    opacity: 0;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
  }

  .nav__list {
    position: absolute;
    left: -999px;
  }

  #toggle:checked ~ .nav .nav__list {
    left: 0;
  }

  #toggle:checked ~ .nav {
    opacity: 1;
  }
}
@media (min-width: 992px) {
  .toggle-container {
    display: none;
  }
}